<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sports Scheduler</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-cover bg-no-repeat bg-center h-screen" >

  <%- include("header") %>

    <nav class="flex space-x-4 my-4">
      <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">About Us</a>
      <a href="#"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Contact</a>
      <a href="/signin" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Log in</a>
      <a href="/signup" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Sign Up</a>
    </nav>

  <div class="container mx-auto px-4 py-16 flex flex-col justify-center items-center space-y-8">

    <p class="text-3xl font-bold text-gray-900">The Best Way to Organize Your Sports Life</p>
    <p class="text-xl p-12 pt-8 pb-8 text-gray-700">Sports Scheduler is a platform designed to help athletes of all levels stay on top of their game.  Manage your schedules, set reminders, track progress, and connect with teammates – all in one place.</p>

    <h2 class="text-2xl font-bold text-gray-900 mb-5">Key Features</h2>
    <ul class="list-disc space-y-3 text-gray-700">
      <li>Create and manage your sports schedules with ease.</li>
      <li>Set sessions for upcoming games, practices, and events.</li>
      <li>Track your progress and performance over time to measure improvement.</li>
      <li>Connect with teammates and fellow athletes to stay motivated and coordinated.</li>
    </ul>

    <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Try for Free</a>
    <a href="#" class="text-blue-500 hover:underline">Learn More</a> 

  </div>

  <%- include("footer") %>

</body>
</html>
